@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap');

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    scroll-behavior: smooth;
    overflow: hidden;
}

body {
    background-color: #FCFCFC;
}

#root {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 17px;
    box-sizing: content-box;
    color: #707070;

    header {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        font-size: 14px;

        .header-top {
            display: block;
            padding: 15px;
        }

        .header-title {
            width: 100%;

            .box {
                width: 260px;
                height: 260px;
                perspective: 900px;
                transform-style: preserve-3d;
                margin: 0 auto;

                .face {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    backface-visibility: inherit;
                    flex-direction: column;
                    border: 1px solid #eaeaea;

                    &.front {
                        transform: translateZ(130px);
                    }

                    &.back {
                        transform: rotateY(180deg) translateZ(130px);
                    }

                    &.right {
                        transform: rotateY(90deg) translateZ(130px);
                    }

                    &.left {
                        transform: rotateY(-90deg) translateZ(130px);
                    }

                    &.top {
                        transform: rotateX(90deg) translateZ(130px);
                    }

                    &.bottom {
                        transform: rotateX(-90deg) translateZ(130px);
                    }
                }
            }

            .name {
                h1 {
                    margin: 0px;
                    padding: 0px;
                    font-size: 14px;
                    font-weight: 300;
                    padding-bottom: 15px;
                }
            }
            .name-changed {
                font-size: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-transform: uppercase;
                padding-bottom: 15px;
    
                .changed-text {
                    padding-left: 5px;
                    color: #2C90BC;
                    font-weight: normal;
                }
            }
        }

        .scroll-icon-wrapper {
            align-self: flex-end;
            width: 100%;
            padding-bottom: 30px;
            text-align: center;
        
            .scroll-icon {
                display: inline-block;
                position: relative;
                height: 32px;
                width: 18px;
                border: 2px solid #e0e0e0;
                border-radius: 1em;
            
                .scroll-icon-outer {
                    display: block;
                    position: absolute;
                    top: 4px;
                    left: 50%;
                    height: 5px;
                    width: 4px;
                    margin-left: -2px;
                    border-radius: 2px;
                    background-color: #e0e0e0;
                    animation: mouseScroll 1s ease 0s infinite alternate none running;
                }
                  
            }
        }
    }

    .menu {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        min-height: 100vh;
        text-align: center;

        .title {
            align-self: flex-start;
            width: 100%;
            padding: 30px 0px;
        }

        ul {
            max-width: 525px;
            margin: 0 auto;
            padding: 0px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            li {
                width: 145px;
                height: 145px;
                list-style: none;
                background-color: #F8F8F8;
                margin: 15px;
            }
        }

        .credit {
            align-self: flex-end;
            width: 100%;
            padding: 30px 0px;
            font-size: 12px;
        }
    }

    .under-construction {
        position: fixed;
        top: 0px;
        right: 0px;
        width: 100%;
        padding: 3px 0px;
        background-color: #ffa0a0;
        color: #fff;
        font-size: 12px;
        transition: background-color .3s ease-in-out;

        &:hover {
            background-color: #ff4e4e;
        }
    }
}

.marquee {
    white-space: nowrap;
    overflow: hidden;

    &:hover {
        span {
            animation-play-state: paused
        }
    }

    span {
        display: inline-block;
        padding-left: 100%;
        will-change: transform;
        animation: marquee 15s linear infinite;

    }
}

.blink {
    width: 0px;
    height: 1em;
    border-left: 2px solid #707070;
    animation: blink 1s infinite;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@keyframes mouseScroll {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    100% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px)
    }
}

@keyframes marquee {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
}